@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-weight:400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/filson/Filson Soft Black.eot');
  src: url('../fonts/filson/Filson Soft Black.eot?#iefix') format("embedded-opentype"), url('../fonts/filson/Filson Soft Black.woff2') format("woff2"), url('../fonts/filson/Filson Soft Black.woff') format("woff"), url('../fonts/filson/Filson Soft Black.svg#Filson Soft Black') format("svg");
  font-weight: 800
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova/Proxima Nova Bold.eot');
  src: url('../fonts/Proxima Nova/Proxima Nova Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Proxima Nova/Proxima Nova Bold.woff2') format("woff2"), url('../fonts/Proxima Nova/Proxima Nova Bold.woff') format("woff"), url('../fonts/Proxima Nova/Proxima Nova Bold.svg#Proxima Nova Bold') format("svg");
  font-weight: 700
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/Lucida Grande/Lucida Grande.eot');
  src: url('../fonts/Lucida Grande/Lucida Grande.eot?#iefix') format("embedded-opentype"), url('../fonts/Lucida Grande/Lucida Grande.woff2') format("woff2"), url('../fonts/Lucida Grande/Lucida Grande.woff') format("woff"), url('../fonts/Lucida Grande/Lucida Grande.ttf') format("truetype"), url('../fonts/Lucida Grande/Lucida Grande.svg#Lucida Grande') format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC
}

@font-face {
  font-family: 'Akko Pro';
  src: url("../fonts/AkkoPro/AkkoPro-Light.eot");
  src: url("../fonts/AkkoPro/AkkoPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkoPro/AkkoPro-Light.woff2") format("woff2"), url("../fonts/AkkoPro/AkkoPro-Light.woff") format("woff"), url("../fonts/AkkoPro/AkkoPro-Light.ttf") format("truetype"), url("../fonts/AkkoPro/AkkoPro-Light.svg#AkkoPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

@font-face {
  font-family: 'Akko Pro';
  src: url("../fonts/AkkoPro/AkkoPro-Regular.eot");
  src: url("../fonts/AkkoPro/AkkoPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkoPro/AkkoPro-Regular.woff2") format("woff2"), url("../fonts/AkkoPro/AkkoPro-Regular.woff") format("woff"), url("../fonts/AkkoPro/AkkoPro-Regular.ttf") format("truetype"), url("../fonts/AkkoPro/AkkoPro-Regular.svg#AkkoPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

@font-face {
  font-family: 'Akko Rounded Pro';
  src: url("../fonts/AkkoPro/AkkoRoundedPro-Light.eot");
  src: url("../fonts/AkkoPro/AkkoRoundedPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkoPro/AkkoRoundedPro-Light.woff2") format("woff2"), url("../fonts/AkkoPro/AkkoRoundedPro-Light.woff") format("woff"), url("../fonts/AkkoPro/AkkoRoundedPro-Light.ttf") format("truetype"), url("../fonts/AkkoPro/AkkoRoundedPro-Light.svg#AkkoRoundedPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

@font-face {
  font-family: 'Akko Rounded Pro';
  src: url("../fonts/AkkoPro/AkkoRoundedPro-Regular.eot");
  src: url("../fonts/AkkoPro/AkkoRoundedPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkoPro/AkkoRoundedPro-Regular.woff2") format("woff2"), url("../fonts/AkkoPro/AkkoRoundedPro-Regular.woff") format("woff"), url("../fonts/AkkoPro/AkkoRoundedPro-Regular.ttf") format("truetype"), url("../fonts/AkkoPro/AkkoRoundedPro-Regular.svg#AkkoRoundedPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/AvenirLTStd-Light.otf");
  src: url("../fonts/Avenir/AvenirLTStd-Light.otf?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Light.otf") format("otf");
  font-weight:300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

@font-face {
  font-family: 'Avenir Medium';
  src: url("../fonts/Avenir/AvenirLTStd-Medium.otf");
  src: url("../fonts/Avenir/AvenirLTStd-Medium.otf?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Medium.otf") format("otf");
  font-weight:400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

button,
hr,
input {
  overflow: visible
}

audio,
canvas,
progress,
video {
  display: inline-block
}

progress,
sub,
sup {
  vertical-align: baseline
}

[type=checkbox],
[type=radio],
legend {
  padding: 0;
  box-sizing: border-box
}

*,
:after,
:before,
legend {
  box-sizing: border-box
}

body{
  margin: 0;
  overflow-x: hidden;
}

$NunitoSans: "Nunito Sans",sans-serif;
$Lato: "Lato", sans-serif;
$Roboto: "Roboto", sans-serif;

.container{
  max-width: 1320px;
  margin: auto;
}


.first-step{
  width: 100%;
  height: 100vh;
  .first-step__header{
    background-image: url('/static/images/checkout/echic-beauticians-2.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
    .container{
      padding: 25px 0;
    }
    .first-step__content{
      margin-top: 100px;
      max-width: 600px;

      .first-step__title{
        font-family: $NunitoSans;
        color: #333333;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 55px;
      }
      .first-step__subtitle{
        font-family: $NunitoSans;
        color: #333333;
        font-size: 38px;
        font-weight: 300;
        letter-spacing: -0.5px;
      }

      .first-step__form{
        display: flex;
        justify-content: space-between;

        .first-step__input-wrap{
          display: inline-block;
          width: 100%;
          width: -webkit-calc(100% - 250px);
          width: calc(100% - 250px);
        }
        .first-step__form_input-text{
          display: block;
          width: 100%;
          padding: 20px 17px 20px 50px;
          height: 64px;
          font-family: $NunitoSans;
          border: 1px solid #e3e3e3;
          border-radius: 8px;
          outline: 0;
          -webkit-background-size: 16px;
          background-image: url("/static/images/input_marker.svg");
          background-repeat: no-repeat;
          background-position: 5.2% center;
        }

        .first-step__form_input-submit{
          display: block;
          width: 222px;
          height: 64px;
          padding: 20px 28px 19px;
          color: #fff;
          font-family: $NunitoSans;
          border: 0;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          background-color: #5e0e8b;
          transition: background-color .4s;
        }
        .first-step__form_input-submit:hover{
          background-color: lighten(#5e0e8b, 10%);
        }
        .first-step__error-code{
          display: none;
          color: #e82828;
          font-family: $NunitoSans;
        }
      }

    }

  }


}
// end first-step

// start second-step
.second-step{
  width: 100%;
  position: relative;
  .second-step__header{
    background-color: #fafafa;

    .container{
      display: flex;
      justify-content: space-between;
    }
    .first-step__header-logo{
      padding: 25px 0;
    }
    .second-step__header-checkout-list{
      position: relative;
      padding: 25px 20px 25px 20px;
      font-family: $NunitoSans;
      white-space: nowrap;
      background-color: #FCF4F4;
      cursor: pointer;
      transition: background-color .2s;

      img{
        position: relative;
        top: 3px;
        margin: 0 10px;
      }

      .second-step__checkout-list_total{
        color: #262626;
        font-family: $NunitoSans;
        font-size: 20px;
        letter-spacing: -0.25px;
        text-align: center;
        margin-right: 120px;
      }

      .second-step__checkout-list_toggle{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 8px;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        background-image: url('/static/images/back-arrow.svg');
        background-position: center;
        cursor: pointer;
        outline: 0;
        transform: rotate(-90deg) scale(1);
        transition: transform .4s;
      }

    }
    .second-step__header-checkout-list::before{
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 10000px;
      background-color: #FCF4F4;
    }

  }
  // start second-step__header-checkout-body
  .second-step__header-checkout-body{
    position: absolute;
    width: 100%;
    height: 0;
    overflow-y: hidden;
    bottom: 110px;
    right: 0;
    top: 84px;
    background-color: #FCF4F4;
    z-index: 2;
    transition: height .4s;
    .second-step__booking_title{
      width: 100%;
      padding: 23px 45px;
      color: #333333;
      font-family: $NunitoSans;
      font-size: 24px;
      letter-spacing: -0.18px;
      line-height: 32px;
      text-transform: uppercase;
    }
    .second-step__booking-datetime{
      width: 100%;
      display: none;
      .second-step__booking-datetime_wrap{
        display: flex;
        padding: 12px 45px;
      }
      .second-step__booking_day{
        color: #333333;
        font-family: $NunitoSans;
        font-size: 60px;
        font-weight: 200;
        letter-spacing: -0.76px;
        line-height: 82px;
      }
      .second-step__booking_date{
        margin-top: 12px;
        margin-left: 30px;
        span{
          display: block;
          color: #333333;
          font-family: $NunitoSans;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: -0.95px;
          line-height: 27px;
        }
      }

    }

    .second-step__booking-treatments{

      .mCSB_inside > .mCSB_container{
        margin-right: 0;
      }
      .second-step__booking-treatments_editable{
        height: 380px;
        overflow-y: hidden;
      }
      .second-step__treatments-item-info{
        position: relative;
        padding: 40px 0 20px 45px;
        .second-step__treatments_name{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 14px;
          line-height: 22px;
        }
        .second-step__treatments_price{
          color: rgba(38,38,38,0.5);
          font-family: $NunitoSans;
          font-size: 14px;
          font-weight: bold;
          line-height: 22px;
        }
        .second-step__treatments_duration{
          opacity: 0.5;
          color: #262626;
          font-family: $NunitoSans;
          font-size: 10px;
          margin-top: 19px;
          line-height: 14px;
        }
        .second-step__treatments_best-value{
          position: absolute;
          top: 30px;
          right: 0;
          padding: 9px 0 8px;
          text-transform: uppercase;
          width: 126px;
          font-family: $NunitoSans;
          font-size: 8.4px;
          font-weight: bold;
          line-height: 11px;
          text-align: center;
          color: #FAFAFA;
          background-color: #E689A4;
        }
        .second-step__treatments_best-value::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border: 14px solid transparent;
          border-left: 12px solid #FCF4F4;
        }
      }
      .second-step__treatments-item-control{
        opacity: 0.5;
        display: flex;
        background-color: #FFFFFF;
        .second-step__treatments_remove{
          color: #262626;
          font-family: $NunitoSans;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          width: 45%;
          padding: 16px 45px 10px;
          border-right: 1px solid #E4E7F0;
          cursor: pointer;
          transition: background-color .4s;
        }
        .second-step__treatments_remove:hover{
          background-color: darken(#fff,10%)
        }
        .second-step__treatments_counter{
          width: 55%;
          padding: 13px 0;
          .second-step__minus,
          .second-step__plus{
            color: rgba(38,38,38,0.5);
            font-family: $NunitoSans;
            margin: 0 15px;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            border: 0;
            background-color: transparent;
            outline: none;
            cursor: pointer;
          }
          .second-step__count_input{
            border: 0;
            width: 32px;
            text-align: center;
            font-size: 22px;
            line-height: 28px;
            background-color: transparent;
          }
        }
      }

      .second-step__booking-treatments_ready{
        display: none;
        height: 236px;
        overflow-y: hidden;
        .second-step__treatments-item{
          border-bottom: 1px solid #F5E5E5;
        }
        .second-step__treatments_item-count{
          position: absolute;
          top: 20px;
          right: 20px;
          height: 24px;
          width: 24px;
          padding: 2px 0;
          border-radius: 100px;
          background-color: #5E0E8B;
          box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
          color: #FAFAFA;
          font-family: $NunitoSans;
          font-size: 14px;
          letter-spacing: -0.2px;
          line-height: 19px;
          text-align: center;
        }
        .second-step__treatments-item-info{
          padding-top: 20px;
        }
      }

    }

    .second-step__booking-summary{
      width: 100%;
      .second-step__booking-summary_wrap{
        padding: 20px 45px;
      }
      .second-step__booking-discount{
        display: none;
        .second-step__booking-discount_title{
          display: block;
          color: #5E0E8B;
          font-family: $NunitoSans;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
          margin-left: 2px;
        }
        .second-step__booking-discount_input-wrap{
          position: relative;
          display: inline-block;
          .second-step__booking-discount_input{
            display: block;
            height: 48px;
            width: 290px;
            padding: 5px 10px;
            border: 2px solid #F5F5F5;
            border-radius: 8px;
            background-color: #FFFFFF;
            color: #262626;
            font-family: $NunitoSans;
            font-size: 16px;
            line-height: 22px;
            outline-color: #5E0E8B;
          }
          .second-step__booking-discount_input-apply{
            position: absolute;
            top: 8px;
            right: 8px;
            padding: 6px 22px;
            border: 1px solid #5E0E8B;
            border-radius: 4px;
            color: #5E0E8B;
            background-color: transparent;
            font-family: $NunitoSans;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
          }
        }

      }
      .second-step__booking-price-row,
      .second-step__booking-duration-row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .second-step__booking-price_title,
        .second-step__booking-price_count,
        .second-step__booking-duration_title,
        .second-step__booking-duration_count,
        .second-step__booking-total_title,
        .second-step__booking-total_count{
          color: #788995;
          font-family: $NunitoSans;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .second-step__booking-total-row{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        border-top: 2px solid #262626;
        .second-step__booking-total_title,
        .second-step__booking-total_count{
          color: #262626;
          font-family: $NunitoSans;
          font-size: 16px;
          line-height: 24px;
        }
        .second-step__booking-total_count{
          font-weight: bold;
        }
      }
    }

    .second-step__booking-subtitle{
      padding: 14px 45px;
      width: 100%;
      opacity: 0.5;
      background-color: #FFFFFF;
      color: #222328;
      font-family: $NunitoSans;
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
      text-transform: uppercase;
    }

  }
  // end second-step__header-checkout-body
  .second-step__content{
    background-image: url('/static/images/checkout/rose_spots_background.png');
    background-size: cover;
    .second-step__main-step_1{
      padding: 50px 0;
      .second-step__tabs{
        display: flex;
        justify-content: center;
        text-align: center;
        .second-step__tabs-item{
          position: relative;
          padding: 11px 0px 6px;
          width: 284px;
          border: 1px solid #c7bfbf;
          border-right: none;
          background-color: #fff;
          font-family: "Nunito Sans";
          font-weight: 600;
          letter-spacing: -0.2px;
          color: #262626;
          cursor: pointer;
          transition: background-color .4s, color .4s;
          img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
          span{
            display: inline-block;
          }
        }
        .second-step__tabs-item.active{
          background-color: #5e0e8b;
          color: #fff;
        }
        .second-step__tabs-item:hover{
          background-color: #5e0e8b;
          color: #fff;
        }
        .second-step__tabs-item:first-child{
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        .second-step__tabs-item:last-child{
          border-right: 1px solid #999;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

      }

      .second-step__form{
        width: 86%;
        margin: auto;
        margin-top: 50px;
        .second-step__packages{
          height: 455px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 25px 0 rgba(0,0,0,0.12);
          padding: 25px 20px;
          overflow-y: hidden;
          .second-step__packages-item{
            width: 100%;
            display: flex;
            background-color: #fafafa;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            .second-step__offer{
              width: 40%;
              .second-step__name{
                font-family: $Lato;
                font-size: 20px;
                color: #333;
              }
              .second-step__descr{
                font-family: $NunitoSans;
                font-size: 16px;
                color: #999;
              }
            }
            .second-step__name{
              font-family: $Roboto;
              font-weight: bold;
              letter-spacing: 0.67px;
              font-size: 16px;
              color: #262626;
              margin-bottom: 10px;
            }
            .second-step__treatment{
              width: 15%;
              text-align: center;
              margin-top: 10px;
              .second-step__descr{
                font-family: $NunitoSans;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -0.2px;
                line-height: 16px;
                color: #262626;
              }
            }
            .second-step__quantity{
              width: 15%;
              text-align: center;
              margin-top: 10px;

              .second-step__count{
                font-family: $Roboto;
                letter-spacing: -0.2px;
                line-height: 16px;
                display: flex;
                justify-content: center;
                .second-step__count_input{
                  width: 27px;
                  height: 27px;
                  padding: 0;
                  text-align: center;
                  color: #323C47;
                  font-size: 16px;
                  font-weight: 600;
                  background-color: transparent;
                  border: 0;
                }
                .second-step__minus,
                .second-step__plus{
                  width: 27px;
                  height: 27px;
                  padding: 0;
                  background-color: #fff;
                  font-size: 18px;
                  color: #211a52;
                  border-radius: 3px;
                  background-color: transparent;
                  outline: 0;
                  border: 1px solid #D0D7DD;
                  cursor: pointer;
                }
              }
            }
            .second-step__cost{
              width: 15%;
              text-align: center;
              margin-top: 10px;
              .second-step__descr{
                font-family: $Lato;
                font-size: 16px;
                letter-spacing: -0.2px;
                line-height: 16px;
                color: #333;
              }
            }
            .second-step__add{
              width: 15%;
              text-align: center;
              margin-top: 10px;
              .second-step__add_button{
                height: 48px;
                width: 128px;
                border: 1px solid #262626;
                border-radius: 8px;
                background-color: transparent;
                color: #262626;
                font-family: $NunitoSans;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: -0.2px;
                text-align: center;
                cursor: pointer;
                transition: background-color .4s, color .4s;
              }
              .second-step__add_button:hover{
                background-color: #5e0e8b;
                color: #fff;
              }
            }
          }
        }

      }
      //end .second-step__form
    }
    //end second-step__main-step_1

    .second-step__checkout-step-btn{
      display: flex;
      width: 100%;
      margin-top: 45px;
      justify-content: center;
      .second-step__checkout-step-back{
        padding: 11px 0;
        width: 128px;
        margin: 0 10px;
        border: 1px solid #262626;
        border-radius: 8px;
        color: #262626;
        background-color: transparent;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.2px;
        cursor: pointer;
        transition: background-color .4s, color .4s;
      }
      .second-step__checkout-step-next{
        padding: 11px 0;
        width: 230px;
        margin: 0 10px;
        border-radius: 8px;
        background-color: #5E0E8B;
        color: #fff;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.2px;
        cursor: pointer;
        border: 0;
        transition: background-color .4s;
      }
      .second-step__checkout-step-back:hover{
        background-color: #262626;
        color: #fff;
      }
      .second-step__checkout-step-next:hover{
        background-color: lighten(#5e0e8b, 10%);
      }
    }

    .second-step__main-step_4{
      padding: 7px 0 30px;
      .second-step__contact-tabs{
        display: flex;
        justify-content: center;
        text-align: center;
        .second-step__contact-tabs-item{
          color: #D5DADE;
          font-family: $NunitoSans;
          font-size: 14px;
          font-weight: 600;
          line-height: 19px;
          text-align: center;
          padding: 30px 90px;
          border-bottom: 1px solid #E4EAEE;
          cursor: pointer;
          transition: color .4s, border .4s;
        }
        .second-step__contact-tabs-item.active{
          border-bottom: 1px solid #1B2125;
          color: #262626;
        }
        .second-step__contact-tabs-item:hover{
          border-bottom: 1px solid #1B2125;
          color: #262626;
        }
      }

      .second-step__contact-form{
        width: 66%;
        margin: auto;
        margin-top: 20px;
        .second-step__contact-form_title{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 42px;
          text-align: center;
        }
        .second-step__contact-info{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .second-step__contact-box,
          .second-step__contact-box-address,
          .second-step__contact-box-message{
            width: 48%;
            margin-bottom: 33px;
            .second-step__contact-box_label{
              display: block;
              margin-bottom: 5px;
              color: #262626;
              font-size: 16px;
              line-height: 20px;
              font-family: $NunitoSans;
              text-transform: uppercase;
            }
            .second-step__contact-box_input{
              display: block;
              min-height: 54px;
              width: 100%;
              padding: 10px 10px;
              color: #1B2125;
              border: 2px solid #F5F5F5;
              border-radius: 3px;
              font-family: "Avenir Medium",sans-serif;
              background-color: #FFFFFF;
              font-size: 16px;
              outline-color: #5E0E8B;
            }
            .second-step__contact-box_message{
              width: 100%;
              height: 106px;
              border: 1px solid #DDE3E8;
              outline-color: #5E0E8B;
              color: #1B2125;
              border-radius: 3px;
              font-family: "Avenir Medium",sans-serif;
              font-size: 16px;
              background-color: #FFFFFF;
              resize: none;
            }
          }
          .second-step__contact-box-address,
          .second-step__contact-box-message{
            width: 100%;
          }
          .second-step__contact-box-message{
            margin-bottom: 0;
          }

        }

      }


    }
  }
}
// end second-step



  .first-step{
    display: none;
  }
  .second-step{
    display: block;
  }
  .second-step__main-step_1{
    display: none;
  }
  .second-step__main-step_4{
    display: block;
  }







  // start footer
  .footer{
    padding: 37px 0 36px;
    width: 100%;
    background-color: #262626;
    text-align: center;

    .footer__socials,
    .footer__footer-menu{
      display: inline-block;
      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        li{
          margin-left: 30px;
        }
      }
    }
    .footer__footer-menu{
      vertical-align: top;
      margin-top: 5px;
      ul{
        li{
          text-align: center;
          margin-left: 40px;
          a{
            font-family: $NunitoSans;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 600;
            transition: color .4s
          }
          a:hover{
            color: darken(#fff, 20%)
          }
        }
      }
    }
  }

// end footer






// start contact-us
.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/static/images/checkout/rose_spots_background.png');
  background-size: cover;
  min-height: 100%;
  .contact-us__header{

    .container{
      padding: 25px 20px;


    }
  }
  .contact-us__content{
    .container{
      display: flex;
      justify-content: space-between;
    }
    .contact-us__text{
      max-width: 600px;
      .contact-us__text_title{
        color: #333333;
        font-family: $NunitoSans;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 55px;
      }
      p{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 51px;
          a{
            color: #5e0e8b;
            text-decoration: none;
            font-weight: bold;
          }
      }
    }

  }

  .contact-us__footer{
    background-image: url('/static/images/footer_bg_shape_mobile.png');
    background-position: top center;
    min-height: 160px;
    padding: 50px 0 0;
    .container{
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .text-center{
      text-align: center;
    }
    .logo{
      margin-right: 20px;
      img{
        vertical-align: middle;
      }
    }
    .social-icons{
      display: inline-block;
      vertical-align: bottom;
      a{
        display: inline-block;
        margin: 0 4px;
      }
    }
    .footer-menu{
      margin: 20px 0;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          vertical-align: top;
        }
      }
      a{
        display: block;
        padding: 0 10px;
        color: #FFFFFF;
        font-family: $NunitoSans;
        text-decoration: none;
        font-size: 12px;
        line-height: 28px;
        font-weight: 600;
      }
    }
    .copyright{
      margin: 10px 0;
      color: #7C7C7C;
      font-size: 12px;
      line-height: 28px;
      font-weight: 600;
    }
  }

}
// end contact-us


@media screen and (max-width:1200px) {

}

@media screen and (max-width:992px) {
  .contact-us{
  .contact-us__content{
    margin-top: 0px;
    .container{
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      .contact-us__text{
        margin: auto;
        .contact-us__text_title{
          font-size: 32px;
        }
        p{
          font-size: 23px;
        }
      }

      img{
        max-width: 50%;
        margin: auto;
      }
    }
  }
}
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:480px) {

}

@media screen and (max-width:375px) {


}

@media screen and (max-width:320px) {

}



@media screen and (min-width:768px) {
  .contact-us{
    .contact-us__footer{
      background-image: url('/static/images/footer_desktop_bg_shape.png');
      background-repeat: repeat-x;
      padding: 100px 0 25px;
      position: relative;
      .logo{
        position: absolute;
        left: 50%;
        top: 117px;
        margin-left: -360px;
      }
      .social-icons{
        position: absolute;
        right: 50%;
        top: 122px;
        margin-right: -360px;
      }
      .footer-menu{
        a{
          padding: 0 20px;
          font-size: 20px;
        }
      }
      .copyright{
        margin: 75px 0 0;
        font-size: 20px;
      }
    }
  }

}
@media screen and (min-width:992px) {
  .contact-us{
    .contact-us__footer{
      .logo{
        margin-left: -470px;
      }
      .social-icons{
        margin-right: -470px;
      }
    }
  }

}
@media screen and (min-width:1460px) {
  .contact-us{
    .contact-us__footer{
      .logo{
        margin-left: -515px;
      }
      .social-icons{
        margin-right: -515px;
      }
    }
  }


}
